* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    color: azure;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px 20px 5px;
    background-color: blue;
}

nav img {
    height: 50px;
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    text-align: center;
}

h1 {
    font-size: 98px;
    margin-bottom: 20px;
}
h2 {
    font-size: 66px;
    margin-bottom: 20px;
}
h3 {
    font-size: 34px;
    margin-bottom: 40px;
}

.button {
    background-color: aqua;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 30px;
}
